@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
    --color-primary: #007E3F;
}

@layer utilities {
  @keyframes scroll-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-x {
    animation: scroll-x 30s linear infinite;
  }
}

.custom-dots li button:before {
  font-size: 8px !important;
  color: #007E3F !important;
  opacity: 0.4;
  margin-top: 13em;
}

.custom-dots li.slick-active button:before {
  opacity: 1;
  color: #007E3F !important;
}
